@model List<Exercicio01.MVC.WEB.Models.Cliente>
@{
    ViewBag.Title = "Index";
}

<h2>Listagem de Clientes</h2>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Telefone</th>
        <th>Data De Nascimento</th>
        <th>Endereco</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ClienteID</td>
            <td>@item.Nome</td>
            <td>@item.Idade</td>
            <td>@item.Telefone</td>
            <td>@item.DataNascimento.ToShortDateString()</td>
            <td>@item.Endereco</td>
        </tr>
    }
    
</table>
